<ion-header>
  <ion-toolbar>
    <ion-title>vid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div id=percentage></div> -->
  

  <div class="Return-Home">
    <ion-button href="/home">
      Home
    </ion-button>
  </div>


  <!-- <input #videoElement (change) ="onVidLoad($event) []" style = "display:none" type = "file">
  <ion-button  (click) = "videoSelector()" class="ion-text-center">upload Video</ion-button> -->

  <div *ngFor="let v of videos; let i = index;">
    
    <!-- <p id = "progress-bar"></p>   -->

    <input type="file"  [id]="'input'+v.id"  (change)="fileOnChange('input'+v.id, 'output'+v.id, i)"/>
    <div>
      <video [id]="'output'+v.id" style="border: 1px solid black; max-width: 100vw;" controls>
        <source [src]=""  type="video/mp4/video/quicktime">
      </video>            
    </div>

    <input type ="file" [id]="'coachInput'+v.id" (change)="coachOnChange('coachInput'+v.id, 'coachOutput'+v.id, i)"/>
    <div>
      <video [id]="'coachOutput'+v.id" style="border: 1px solid black; max-width: 100vw;" controls>
        <source [src]=""  type="video/mp4/video/quicktime">
      </video>            
    </div>
    <canvas id="canvas" style="width: 300px;"></canvas>
    <!-- <button (click)="checkType(i)">check type</button> -->
    <button (click)="doPoseEstimation(i)">poseEstimtaion</button>
    <button (click)="squatDynamicDistance(i)">Dynamic Squat</button>
    <button (click)="detectMotion(i)">StayActive</button>
    <!-- <button (click)="doPreprocessing(i)">Preprocessing</button> -->
    <!-- <button (click)="doPoseChecking(i)">doPoseMatching</button> -->
    
    
  
  </div>
  

  


</ion-content>